*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
cam01/*
cam02/*
cam01.txt
cam02.txt

# Scala-IDE specific
.scala_dependencies
.worksheet
